#container1 {
  position: relative;
  color: white;
}

.bottom-left {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-20%, -30%);
  text-align: left;
}

.image1 {
  width: 100%;
}

.image2 {
  position: absolute;
  top: 70%;
  left: 80%;
  width: 20%;
  transform: translate(-80%, -70%);
}

.row {
  display: flex;
  justify-content: space-between;
}
